{% extends "base.html" %}

{% block title %}
    About Us
{% endblock title %}

{% block body %} 

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>About</h2>
        <h3>Learn More <span>About Us</span></h3>
        <p>… IN A HEARTBEAT THREADS OF FIBER ARE YARNED INTO PERFECTION,JUST FOR YOU.</p>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <ul>
            <li><i class="ri-check-double-line"></i> Gender Neutral Crochet Fits and Accessories </li>
            <li><i class="ri-check-double-line"></i>  Registered </li>
            <li><i class="ri-check-double-line"></i> Trains (Physical and Virtual)</li>
            <li><i class="ri-check-double-line"></i>Worldwide Shipping </li>

          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p class="slid">
            A Brand that YARNS your IMAGINATION into PERFECTION while YARNING (conversing) with you
          </p>
          <a href="#" class="btn-learn-more text-decoration-none">Learn More</a>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

{% endblock body %}