{% extends "base.html" %}
{% load static %}
{% block title %}
    About Us
{% endblock title %}

{% block body %} 
<section class="bg-secondary" style="height: 200px;">

</section>
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="border-0 m-5 p-5">

      <div class="section-title">
        <h3 class="m-3">About <span>Us</span></h3>
        <div>
          <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="">
                <p class="fs-5">
                  Welcome to YARN_ME.NG! I'm Al-Jannatul Fridaous, a passionate 24 year old crochet designer and enthusiast dedicated to creating cozy, <br>
                  colorful, and unique pieces. With a passion for connecting with fellow crochet lovers, I'm excited to share my expertise and collaborate <br>
                  with clients who share my enthusiasm for yarn.
                </p>
                <p class="fs-5">
                  As a skilled crochet artist, I offer custom services, including bespoke dresses, hoodies, and more.
                  My goal is to bring your crochet dreams to life with attention to detail, quality craftsmanship, and a friendly approach.
                  Let's work together to create something truly special!
                </p>
                <p class="fs-5">
                  Feel free to explore my portfolio, learn more about my services, and let's get started on your next crochet project!
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card border-0" style="width: 36rem;">
                <img src="{% static "images/nana.jpg" %}" class="img-thumbnail float-end" alt="">
              </div> 
            </div>
          </div>
        </div>
        </div>

        <div class="m-5">
        <h3 class="m-3">Learn More <span>About Us</span></h3>
        <p>Welcome to YARN_ME.NG, where handmade meets heartwarming! We create unique, 
          high-quality crochet pieces for all ages and genders, from cozy accessories to thoughtful gifts. 
          Our mission is to provide comfort, style, and a touch of handmade love to every customer. 
          Browse our collection to find the perfect crochet treasure for yourself or a loved one.</p>
        <p>… IN A HEARTBEAT THREADS OF FIBER ARE YARNED INTO PERFECTION,JUST FOR YOU.</p>
  

      <div class="row content">
        <div class="col-lg-6">
          <ul>
            <li><i class="ri-check-double-line"></i> Gender Neutral Crochet Fits and Accessories </li>
            <li><i class="ri-check-double-line"></i>  Registered </li>
            <li><i class="ri-check-double-line"></i> Trains (Physical and Virtual)</li>
            <li><i class="ri-check-double-line"></i>Worldwide Shipping </li>

          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p class="slid">
            A Brand that YARNS your IMAGINATION into PERFECTION while YARNING (conversing) with you
          </p>
          <a href="#" class="btn-learn-more text-decoration-none">Learn More</a>
        </div>
      </div>

    </div>
  </div>

    
    <div class="section-title m-4">
      <h2>Testimonial</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
          <h2 className="mb-3 fw-bold">Hamza Boy</h2>
          <h6 className="text-primary mb-3">PATIENT</h6>
          <p className="px-xl-3">
            <i className="fas fa-quote-left pe-2"></i>I was very happy with the care I received from the Dr and his staff. Very friendly,efficient and deligent.
          </p>
      
        </div>

        <div class="col-md-4 text-center">
          <h2 className="mb-3 fw-bold">Maria Smantha</h2>
          <h6 className="text-primary mb-3">PATIENT</h6>
          <p className="px-xl-3">
            <i className="fas fa-quote-left pe-2"></i>I was very happy with the care I received from the Dr and his staff. Very friendly,efficient and deligent.
          </p>
      
        </div>

        <div class="col-md-4 text-center">
          <h2 className="mb-3 fw-bold">London Boy</h2>
          <h6 className="text-primary mb-3">Aishat</h6>
          <p className="px-xl-3">
            <i className="fas fa-quote-left pe-2"></i>I was very happy with the care I received from the Dr and his staff. Very friendly,efficient and deligent.
          </p>
      
        </div>

        <div class="row">
          <div class="col-md-4 text-center mt-5">
            <h2 className="mb-3 fw-bold">Timmy Boy</h2>
            <h6 className="text-primary mb-3">PATIENT</h6>
            <p className="px-xl-3">
              <i className="fas fa-quote-left pe-2"></i>I was very happy with the care I received from the Dr and his staff. Very friendly,efficient and deligent.
            </p>
        
          </div>

          <div class="col-md-4 text-center mt-5">
            <h2 className="mb-3 fw-bold">Tasha Girl</h2>
            <h6 className="text-primary mb-3">PATIENT</h6>
            <p className="px-xl-3">
              <i className="fas fa-quote-left pe-2"></i>I was very happy with the care I received from the Dr and his staff. Very friendly,efficient and deligent.
            </p>
        
          </div>

          <div class="col-md-4 text-center mt-5">
            <h2 className="mb-3 fw-bold">Okiki Boy</h2>
            <h6 className="text-primary mb-3">PATIENT</h6>
            <p className="px-xl-3">
              <i className="fas fa-quote-left pe-2"></i>I was very happy with the care I received from the Dr and his staff. Very friendly,efficient and deligent.
            </p>
        
          </div>
        </div>

        </div>
      </div>
     
      </div>
  


  </section><!-- End About Section -->

{% endblock body %}