{% extends "base.html" %}

{% block title %}
Home
{% endblock title %}

{% block content %}

<div class="hero-container">
<h1 class="text-white fw-semibold display-1">WELCOME TO <strong>YARN_ME</strong></h1>
<h5 class="text-white mt-3 mb-4">… IN A HEARTBEAT THREADS OF FIBER ARE YARNED INTO PERFECTION, JUST FOR YOU.</h5>
<a  href="#about" class="btn-get-started scrollto text-decoration-none">Get Started</a>
<a  href="{% url 'ecommerceapp:shops' %}" class="btn-get-started scrollto text-decoration-none mt-2">Shop Now</a>

</div>
{% endblock content %}
{% block body %} 

{% load static %}

  <main id="main">


      <div class="container ">
        <h2 class="fw-bold">Products</h2>
      <hr>
        <div class="row">
            {% for p in product_list %}
    
              <div class="col-md-3 card">
                <div class="card-body">
                  <h4><a href="{% url 'ecommerceapp:productdetail' p.slug %}">{{p.title}}</a></h4>
                <img src="{{ p.image.url }}" alt="" class="img-fluid" style="height: 250px; object-fit: contain;">
                
                <p class="card-text">{{ p.description }}</p>
                <h6 class="card-title mb-3">Price: <strike>#{{ p.marked_price }}</strike> #{{ p.selling_price }}</h6>
                <a class="btn btn-secondary w-100 py-2" href="{% url 'ecommerceapp:addtocart' p.id %}">Add To Cart</a>
                </div>
              </div>
    
              {% endfor %}
        </div>
      <nav aria-label="...">
        <ul class="pagination">
          {% if product_list.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ product_list.previous_page_number }}">Previous</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="" tabindex="-1">Previous</a>
          </li>
          {% endif %}

          {% for i in product_list.paginator.page_range %}
          {% if i == product_list.number %}
          <li class="page-item active"><a class="page-link">{{i}}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>

          {% endif %}
          {% endfor %}

          {% if product_list.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ product_list.next_page_number }}">Next</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="" tabindex="-1">Next</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    



  </main><!-- End #main -->
{% endblock body %}