{% extends "base.html" %}
{% load static %}
{% block title %}Make Payment{% endblock title %}

{% block body %}
<section class="bg-secondary" style="height: 200px;">

</section>
    <script src="https://js.paystack.co/v1/inline.js"></script>
    <div>
        <form id="paymentForm">
            <h2>You're about to pay {{ currency }}.{{ cart.total }}</h2>
            <!-- Hidden input fields to hold the required values -->
            <input type="" id="email-address" value="{{ email }}">
            <input type="hidden" id="amount" value="{{ cart.total }}">
            <input type="hidden" id="currency" value="{{ currency }}">
            <button type="submit" onclick="payWithPaystack()">Pay</button>
        </form>
    </div>


    <script>
        const paymentForm = document.getElementById('paymentForm');
        paymentForm.addEventListener("submit", payWithPaystack, false);

        function payWithPaystack(e) {
        e.preventDefault();
 
        let handler = PaystackPop.setup({
            key: 'pk_live_e4ffd7870da75d87757dbd9afee9c7b00230607a', // Replace with your public key
            email: document.getElementById("email-address").value,
            amount: document.getElementById("amount").value * 100,
            currency: document.getElementById("currency").value, // Ensure this field is present in your form
            ref: '' + Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique referen ce. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
            onClose: function(){
            alert('Window closed.');
            },
            callback: function(response){
            let message = 'Payment complete! Reference: ' + response.reference;
            alert(message);
            }
        });

        handler.openIframe();
        }

    </script>
{% endblock body %}
