{% extends "base.html" %}

{% block title %}
    {{ product.title }}
{% endblock title %}

{% block body %}
<section class="bg-secondary" style="height: 200px;">

</section>
<div class="container">
    <h1>{{ product.title }}</h1>
    <div class="row">
        <div class="col-md-4">
            <img src="{{ product.image.url }}" alt="{{ product.title }}" class="img-fluid">
            <div class="row">
                {% for pi in product.productimage_set.all %}
                <div class="col-md-4 p-3">
                <a href="{{pi.image.url}}" target="_blank">
                    <img src="{{pi.image.url}}" class="img-fluid" style="height: 100px; object-fit: contain;" alt="">
                </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-8">
            <p>{{ product.description }}</p>
            <p>Price: NGN {{ product.selling_price }}</p>

            <form action="{% url 'ecommerceapp:addtocart' product.id %}" method="GET">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Add To Cart</button>
            </form>
        </div>
</div>
{% endblock body %}
